<footer class="footer  bg-dark text-white py-3 mt-auto">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <p class="col-md-4 mb-0">&copy; 2024 YelpCamp</p>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item"><a href="/campgrounds" class="nav-link px-2 text-white">Campgrounds</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Ratings</a></li>
        </ul>
    </div>
</footer>

