<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h1>Campgrounds show...</h1>
    <div>
        <h5><%= campground.title %></h3>
        <h6><%= campground.location %></h6>
    </div>
    <footer>
        <button onclick="goBack()">Click to go back</button>
    </footer>

    <script>
        function goBack() {
            window.location.href = '/campgrounds';
        }
    </script>
</body>
</html>